<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.remark.money.mapper.PlanExecLogMapper">

  <insert id="insertIgnore">
    INSERT IGNORE INTO plan_exec_log (kind, user_id, book_id, plan_id, period_key, created_at)
    VALUES (#{kind}, #{userId}, #{bookId}, #{planId}, #{periodKey}, NOW())
  </insert>

</mapper>
